body{
  font-family: 'K2D', sans-serif;
}

  .item {
    margin-bottom:30px;
  }
  
  .item .box {
    text-align:center;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    height:280px;
    position:relative;

  }
  
  .item .cover {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgb(151, 150, 148);
    transition: 0.15s ease-in;
    opacity:0;
    padding-top:80px;
    color:#fff;
    text-shadow:1px 1px 1px rgba(0,0,0,0.15);
  }
  
  .item:hover .cover {
    opacity:1;
  }
  
  .item .name {
    font-weight:bold;
    margin-bottom:8px;
  }
  
  .item .title {
    text-transform:uppercase;
    font-weight:bold;
    color:#bbd8fb;
    letter-spacing:2px;
    font-size:13px;
    margin-bottom:20px;
  }
  
  .une{
    border-radius: 50%;
  }

  .imgHover {
    transition: all 0.5s ease-in-out;
  }
 
  .imgHover:hover {
    transform: scale(1.2);
  }

#div4{
  border-left: 3px solid  black;
}

.paddingTop{
  padding-top: 50px;
}


.imgDimensions{
  border-radius: 5%;
  padding-top: 0px;
  padding-bottom: 30px;
  width: 3700px;
  height: 250px;
}


div{
  max-width: 100%;
}

.card-img-top{
  height: 220px;
}

footer {
  padding: 0px;
  margin-bottom: -16px;
  text-align: center;
}

#gold{
  color: rgb(200, 200, 5);
}

#silver{
  color: grey;
}

#diamond{
color: darkturquoise;
}

#home{
  background-image: url('https://c1.neweggimages.com/WebResource/Themes/Nest/bgs/Illus_Subscription@4x.png');
  background-repeat: no-repeat;
  background-size: 400px 250px;
  background-position: 700px 70px;
  padding-top: 50px;
}

.card{
  border: 0;
}

#footer{
  padding-top: 6px;
  padding-bottom: 6px;
}

#h2{
  padding-top: 50px;
}


#yourTotal{
  padding-top: 15px;
  font-size: x-large;
  font-weight: bold;
}

#totalPrice{
  padding-top: 0;
  font-size: xx-large;
  font-weight: bold;
}

h4{
  padding-top: 15px;
}

#goku, #vegeta, #fifty, #kendrick{
font-weight: bold;
}

.dropdown{
  display: none;
}

.borders{
  border: 0;
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
  #home{
    background-image: url('https://c1.neweggimages.com/WebResource/Themes/Nest/bgs/Illus_Subscription@4x.png');
    background-repeat: no-repeat;
    background-size: 400px 250px;
    background-position: 600px 70px;
    padding-top: 50px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .dropdown{
    display: block;
  }
.navbar-nav{
  display: none;
}

#home{
  background-image: url('https://c1.neweggimages.com/WebResource/Themes/Nest/bgs/Illus_Subscription@4x.png');
  background-repeat: no-repeat;
  background-size: 300px 190px;
  background-position: 83% 80px;
  padding-top: 40px;
}
.portofol{
  display: block;
}
.imgDimensions{
  height: 300px;
  max-width: 400px;
  margin-left: 85%;
}
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .row {
    max-width: 100%;
    display: block;
    height: auto;
  }
  .dropdown{
    display: block;
  }
.navbar-nav{
  display: none;
}
.col-2,.col-3,.col-4,.col-5,.col-6{
  width: 100%;
}
.col-1{
  width: 40%;
}
.une{
  width: 200px;
  height: 220px;
}
.imgDimensions{
  width: 450px;
  padding-left: 10%;
  height: 270px;
}
h1{
  text-align: center;
}
.card{
  width: 350px;
}
.paddingLeft{
  padding-left: 13%;
}

}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .row {
    max-width: 100%;
    display: block;
    height: auto;
  }
  .dropdown{
    display: block;
  }
.navbar-nav{
  display: none;
}
.col-2,.col-3,.col-4,.col-5,.col-6{
  width: 100%;
}
.col-1{
  width: 50%;
}
.une{
  width: 200px;
  height: 220px;
}
.imgDimensions{
  width: 350px;
  padding-left: 10%;
  height: 200px;
}
h1{
  text-align: center;
}
.card{
  width: 350px;
}
.paddingLeft{
  padding-left: 13%;
}
}